body, button, input, optgroup, select, textarea {
    font-family: 'Apercu', sans;
}

.legend-entry-icon span {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 28px;
    position: relative;
    left: -8px;
    top: -15px;
}
.legend-entry-icon img {
    width: 32px;
    height: 45px;
    position: absolute;
    left: -10px;
    top: -16px;
}
.ss-main {
                
}
.ss-main .ss-multi-selected {
    border-radius: 0;
    border: 0;
    padding: 5px 15px 15px;
}
.ss-main .ss-multi-selected .ss-add .ss-plus,
.ss-main .ss-multi-selected .ss-add .ss-plus::after {
    background: white;
}
.ss-main .ss-multi-selected .ss-add .ss-plus:after {
    content: "+";
    color: black;
    font-size: 1.5rem;
    line-height: 2rem;
    top: -10px;
    left: 0px;
}
.ss-main .ss-multi-selected .ss-add .ss-plus.ss-cross {
    transform: none;
}
.ss-content.ss-open {
    padding: 7px;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.125);
}
.ss-content .ss-list .ss-optgroup .ss-optgroup-label {
    font-weight: 300;
    color: black;
}
.ss-content .ss-search input {
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
    color: black;
}
.ss-content .ss-search input:focus {
    outline: none;
    box-shadow: none;
}
.ss-content .ss-list .ss-optgroup .ss-option {
    padding-left: 40px;
}
.ss-main .ss-multi-selected .ss-values .ss-value {
    animation-name: none;
    padding: 2px 10px;
    border-radius: 0;
    background: white;
    color: black;
    border: 1px solid lightgray;
}
.ss-main .ss-multi-selected .ss-values .ss-value:hover {
    color: white;
    background: black;
    border-color: black;
}
.ss-main .ss-multi-selected .ss-values .ss-value .ss-value-delete {
    color: white;
}
.ss-main .ss-multi-selected .ss-values .ss-value:hover .ss-value-delete {
    color: black;
}
.ss-main .ss-multi-selected .ss-values .ss-value .ss-value-delete:after {
    content: "❌"
}
.ss-values {
    padding: 5px 8px;
    background: rgb(243, 244, 246);
}
.ss-add {
    display: none !important;
}

.ss-main .ss-multi-selected {
    padding: 0 !important;
    margin: 0 !important;
}

.ss-main .ss-multi-selected .ss-values .ss-value {
    border: 1px solid black;
    background: black !important;
    color: white !important;
}
.ss-main .ss-multi-selected .ss-values .ss-value:hover {
    background: white !important;
    color: black !important;
}
.ss-main .ss-multi-selected .ss-values .ss-value .ss-value-delete {
    color: black !important;
}
.ss-main .ss-multi-selected .ss-values .ss-value:hover .ss-value-delete {
    color: white !important;
}
.ss-content .ss-list .ss-option img {
    height: 30px !important;
}

.leaflet-popup-content-wrapper {
    border-radius: 0 !important;
}
.leaflet-popup-content {
    margin: 0 !important;
}